<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1><span id="h1-swivel-verb">Dating</span> for <span id="h1-swivel-noun">the rest of us</span>.</h1>
            <hr>
            <p>Straight people have a whole wide world of dating apps. For the rest of us, there's <span class="quiver-logo-text">Quiver</span>, the dating and meetup app for the LGBTQIAP+ community.</p>
            <a href="#" class="btn btn-primary btn-xl page-scroll show-popup" data-showpopup="1">Sign up for updates</a>
        </div>
    </div>
</header>
