<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How it Works</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Comprehensive Options</h3>
                    <p class="text-muted">Whoever you are, and whatever you're looking for, it's easy to get set up to find it.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-search wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Find a Partner</h3>
                    <p class="text-muted">See everyone you might like in your area, or use our powerful tags and keywords to find just what you're looking for.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-coffee wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Meet Up</h3>
                    <p class="text-muted">Find a safe space to meet, set a time and date, and add it to your Calendar, all in a few taps.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-shield wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Easily Report Abuse</h3>
                    <p class="text-muted">Report an unsafe or abusive situation in a few taps. We set an industry standard for taking your safety seriously.</p>
                </div>
            </div>
        </div>
    </div>
</section>
